Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Assets
/Content/Construction_VOL1
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/Animations
/Content/Characters
/Content/Collections
/Content/Developers
/Content/FXVarietyPack
/Content/InfinityBladeEffects
/Content/LevelPrototyping
/Content/Materials
/Content/ParagonGideon
/Content/ParagonMurdock
/Content/ParagonMuriel
/Content/ParagonSparrow
/Content/StarterContent
/Content/StaticMeshes
/Content/SwordAnimsetPro
/Content/ThirdPerson
/Content/Weapons
/Content/Mars_Sanctuary
/Content/ParagonCrunch
/Content/ParagonFengMao





